.item:hover{
    -webkit-filter: drop-shadow(1px 1px 0 white)
                    drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) 
            drop-shadow(-1px -1px 0 white);
}

.arraw{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}